# The URL of the kudos
BASE_URL="https://kudos.opensuse.org"

# The bot token for authenticating with the API
BOT_TOKEN=""

# The "From" address for emails
MAIL_FROM="KUDOS openSUSE Recognition platform <kudos@opensuse.org>"

# The "Reply-To" address for emails
MAIL_REPLY_TO="noreply@opensuse.org"
